In [ ]:
import pandas as np

In [ ]:
data=np.read_csv("student..csv")

In [ ]:
data.shape

(15, 4)

In [ ]:
data.head(5)

   id            Name   Subjects  Marks
0   0     Nitu Purbey      Maths     78
1   1     Smita Yadav  Chemistry     57
2   2  Punam Chaudary  Chemistry     76
3   3      Arun Yadav    Physics     23
4   4      Dhiraj Sah      Maths     54

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        15 non-null     int64
 1   Name      15 non-null     object
 2   Subjects  15 non-null     object
 3   Marks     15 non-null     int64
dtypes: int64(2), object(2)
memory usage: 612.0+ bytes

In [ ]:
data.describe()

              id      Marks
count  15.000000  15.000000
mean    7.000000  45.466667
std     4.472136  30.490904
min     0.000000   3.000000
25%     3.500000  22.000000
50%     7.000000  54.000000
75%    10.500000  71.500000
max    14.000000  99.000000

In [ ]:
maximum=data['Marks'].max()
print(maximum)
minimum=data['Marks'].mean()
print(minimum)

99
45.46666666666667

In [ ]:
mask1=data['Marks']>60
data[mask1].shape[0]

5

In [ ]:
data['Result']=data['Marks'].apply(lambda x: 'Pass' if x >= 40 else 'Fail' )

In [ ]:
data

    id              Name   Subjects  Marks Result
0    0       Nitu Purbey      Maths     78   Pass
1    1       Smita Yadav  Chemistry     57   Pass
2    2    Punam Chaudary  Chemistry     76   Pass
3    3        Arun Yadav    Physics     23   Fail
4    4        Dhiraj Sah      Maths     54   Pass
5    5         Niraj Sah    Physics     12   Fail
6    6         Sunny Sah  Chemistry      3   Fail
7    7     Roshan Purbey    Physics      3   Fail
8    8      Rajan Purbey    Physics     56   Pass
9    9     Pragya Khanal      Maths     76   Pass
10  10   Rebika Parajuli      Maths     21   Fail
11  11   Sodikshya Bhata      Maths     24   Fail
12  12    Anuska Acharya    Physics     33   Fail
13  13  Sulochana Subedi    Physics     67   Pass
14  14   Prakriti Subedi  Chemistry     99   Pass

In [ ]:
data.to_csv("cleaned_students_data.csv", index=False)